.main{
  width: 400px;
  height: auto;
  margin: 0 auto 0 auto;
  text-align: center;
}

.input{
  width: 235px;
  height: 34px;
  background-color: white;
  border: 1px solid gray;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: linear;
  box-sizing: border-box;
  font-size: 15px;
  position:relative;
  padding-left: 35px;
  letter-spacing: 1px;
  margin-top: 5px;
  padding-right: 15px;
  overflow: hidden;
  border-radius: 5px;
  outline: none;
}

.input:hover{
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: linear;
  filter: drop-shadow(0 0 1px black);
}

.input:focus{
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: linear;
  filter: drop-shadow(0 0 2px #802f80);
}

.input[type='password']{
  font-size: 18px;
  padding-top: 4px;
}

.inputBox{
  position: relative;
  margin-top: 10px;
}

.inputBox i {
  position:absolute;
  top:22px;
  left: 85px;
  padding:10px 10px;
}

.inputError{
  width: 240px;
  text-align: center;
  margin-left: 80px;
}

.input:valid ~div span{
  font-family: Roboto;
  font-size: 12px;
  color: gray;
}

.input:invalid ~div span{
  font-family: Roboto;
  font-size: 12px;
}


.button{
  width: 100px;
  height: 34px;
  font-family: Roboto;
  font-size: 18px;
  border: 0px;
  border-radius: 5px;
  color: #2d2d2d;
  background-color: white;
  border: 1px solid #2d2d2d;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: linear;
  margin-top: 20px;
}

.button:not(:disabled):hover{
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: linear;
  color: white;
  background-color: #2d2d2d;
  cursor: pointer;
}

.button:disabled{
  color: gray;
  background-color: white;
  border: 1px solid #bebebe;
}

.redirection{
  font-size: 13px;
  margin-top: 10px;
}

.hover:hover{
  cursor: pointer;
  color: gray;
}

.icon {
  color: #2d2d2d;
  font-size: 50px;
  animation-iteration-count: 1;
  animation-duration: 1500ms;
  margin-top: 15px;
}

.noti{
  margin-top: 10px;
  font-size: 14px;
}