.main{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.redirection{
  margin-top: 1.5rem;
  font-size: 14px;
}

@media(max-width:768px){
  .main{
    margin-top: 3rem;
  }
}