.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body {
  width: 100%;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.authArea{
  width: 100%;
  height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.rightPanel{
  position: relative;
}

.calculatorArea{
  display: block;
}

.calculatorButton{
  display: none;
  width: 350px;
  margin: 0.5rem auto;
}

@media(max-width:768px){
  .body{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .authArea{
    margin-bottom: 1rem;
  }
  .rightPanel{
    margin-top: 1rem;
  }
  .calculatorArea{
    display: none;
  }
  .calculatorButton{
    display: block;
  }
}