.sidebar {
    width: 100vw;
    height: calc(100vh - 72px);
    margin-top: 72px;
    overflow-y: auto;
    box-shadow: none;

    .sidebar__header {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 24px;
        border-bottom: 1px solid var(--neutral-700);
        
        .subheading {
            margin: 0;
            color: var(--neutral-700);
        }
    }

    @media (min-width: 420px) {
        width: 420px;
        height: 100vh;
        min-height: 800px;
        border-right: 1px solid var(--neutral-700);
    }

    @media (min-width: 996px) {
        margin-top: 0;
    }
}
