.centerPanel{
  width: 350px;
  height: 500px;
  margin: auto;
  margin-top: 40px;
}

.barDiv{
  display: flex;
}

.searchBar{
  width: 220px;
  height: 34px;
  border: 1px solid #bebebe;
  border-radius: 5px;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  font-size: 15px;
  letter-spacing: 1px;
}

.searchBar:hover{
  cursor: pointer;
  border-color: #2d2d2d;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.clearButton{
  width: 120px;
  height: 34px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #2d2d2d;
  background-color: white;
  color: #2d2d2d;
  line-height: 34px;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.clearButton:disabled{
  border: 1px solid #bebebe;
  color: #bebebe;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.clearButton:not(:disabled):hover{
  font-weight: normal;
  background-color: #2d2d2d;
  color: white;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: linear;
  box-sizing: border-box;
  cursor: pointer;
}

.productsDiv{
  width: 350px;
  height: auto;
  max-height: 450px;
  margin-top: 10px;
  overflow-y: scroll;
}

.productRow{
  width: 330px;
  height: 40px;
  border-left: 1px solid #bebebe;
  border-right: 1px solid #bebebe;
  padding-left: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.productRow:hover{
  cursor: pointer;
  border-left: 1px solid #2d2d2d;
  border-right: 1px solid #2d2d2d;
}

.productName{
  font-size: 15px;
}

.kcalin100{
  font-size: 12px;
  color: gray;
}

.productDetailsDiv{
  width: 350px;
  height: auto;
  border-radius: 10px;
  border-top: 1px solid #bebebe;
  border-bottom: 1px solid #bebebe;
  text-align: center;
}

.productDetailsName{
  margin-top: 10px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 20px;
}

.kcalBox{
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.lowerTextName{
  font-size: 12px;
  color: gray;
}

.lowerText{
  font-size: 11px;
  color: gray;
}

.nutritionalBox{
  width: 100%;
  height: 50px;
  padding-left: 15px;
  box-sizing: border-box;
  display: flex;
}

.carbohydratesBox{
  width: 110px;
  height: 100%;
  text-align: center;
}

.fatsBox{
  width: 100px;
  height: 100%;
  text-align: center;
}

.proteinsBox{
  width: 110px;
  height: 100%;
  text-align: center;
}

.nutrionalText{
  font-size: 14px;
}

.input{
  width: 60px;
  height: 28px;
  background-color: white;
  border: 1px solid gray;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: linear;
  box-sizing: border-box;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 5px;
  overflow: hidden;
  outline: none;
  border-radius: 5px;
  text-align: center;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input {
  -moz-appearance: textfield;
}

.input:hover{
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: linear;
  filter: drop-shadow(0 0 1px black);
}

.input:focus{
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: linear;
  filter: drop-shadow(0 0 2px #802f80);
}

.addButton{
  width: 40px;
  height: 40px;
  border: 0px;
  font-size: 30px;
  border-radius: 10px;
  color: #2d2d2d;
  background-color: #e6e6e6;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;
  margin-bottom: 10px;
}

.addButton:not(:disabled):hover{
  background-color: #2d2d2d;
  color: #e6e6e6;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;
  cursor: pointer;
}

.addButton:disabled{
  color: gray;
  font-size: 15px;
}

.spinDiv{
  height: 450px;
  font-size: 30px;
  text-align: center;
  line-height: 100px;
}

.productNoti{
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  color: gray;
}