.main{
  width: 1200px;
  height: auto;
  margin: auto;
}

.header{
  text-align: center;
}

.logo{
  width: 350px;
  height: 125px;
  margin: auto;
}

.logo:hover{
  cursor: pointer;
}

.content{
  width: 1200px;
  height: 700px;
  display: flex;
}